In [65]:
from pandas import Series, DataFrame
import pandas as pd, numpy as np, pandas_datareader as pdr
%matplotlib inline

In [94]:
all_data = {}
for ticker in ['AAPL', 'BLK', 'DOM.L', 'TW.L']:
    all_data[ticker] = pdr.get_data_yahoo(ticker, '1/1/2012', '1/1/2017')

In [97]:
price = DataFrame({tic: data['Adj Close']
                   for tic, data in all_data.iteritems()})
volume = DataFrame({tic: data['Volume']
                   for tic, data in all_data.iteritems()})

In [96]:
returns = price.pct_change()
returns.head()

                AAPL       BLK     DOM.L      TW.L
Date
2012-01-02       NaN       NaN       NaN       NaN
2012-01-03       NaN       NaN  0.028074 -0.003478
2012-01-04  0.005374 -0.007227  0.066946 -0.009902
2012-01-05  0.011102 -0.003501 -0.003399 -0.001891
2012-01-06  0.010454 -0.001115 -0.006811  0.011915

In [84]:
returns.AAPL.corr(returns['DOM.L'])

0.020461189540164938

In [85]:
returns.corr()

           AAPL       BLK     DOM.L      TW.L
AAPL   1.000000  0.382649  0.020461  0.188443
BLK    0.382649  1.000000  0.006145  0.355724
DOM.L  0.020461  0.006145  1.000000 -0.010223
TW.L   0.188443  0.355724 -0.010223  1.000000

In [87]:
returns.corrwith(returns.BLK)

AAPL     0.382649
BLK      1.000000
DOM.L    0.006145
TW.L     0.355724
dtype: float64

In [88]:
returns.cov()

           AAPL       BLK     DOM.L      TW.L
AAPL   0.000272  0.000107  0.000029  0.000075
BLK    0.000107  0.000286  0.000009  0.000145
DOM.L  0.000029  0.000009  0.007216 -0.000021
TW.L   0.000075  0.000145 -0.000021  0.000579